
html {
	cursor: url(imagens/maquinaFotografica2.png) 30 30, auto;
}


.cenario {
    background-image: url(imagens/cenario.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
 }


.bg-color-index {
    background-color:#e68600; 
  }

.dog1{
    width: 50px;
    height: 50px;

}

.dog2{
    width: 70px;
    height: 70px;
}

.dog3{
    width: 90px;
    height: 90px;
}

.ladoB {
    transform: scaleX(-1);
}

.painel {
	position: absolute;
	width: 190px;
	padding: 10px;
	left: 0px;
	bottom: 0px;
	border-top:solid 1px #fff;
	background-color: #fff;
	opacity: 0.7
}

.vidas{
    float: left;
}

.timer {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.botao {
    background-color: #5CE1E6;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
  }

  .botao1 {
    background-color: #FFA7E4;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
  }